p{
    color: white;
    font-size: 50px;
}
button{
    background-color: blue;
}

a{
    color: white;
    font-size: 35px;
}
body{
    background-image: url(image/cuisine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}